Source: szn-python-cairo
Maintainer: Jiri Drbalek <jiri.drbalek@firma.seznam.cz>
X-Python-Version: >= 2.7
Standards-Version: 3.9.6.0
Section: libs
Priority: extra
Build-Depends: debhelper (>= 8),
    dh-python, pkg-config,
    python-all, python3-all,
    python-setuptools, python3-setuptools,
    python-pytest, python3-pytest,
    python-gobject-2-dev, libpixman-1-dev,
    szn-libcairo

Package: szn-python-cairo
Architecture: amd64
Conflicts: python-cairo, python-cairo-dev
Replaces: python-cairo, python-cairo-dev
Depends: ${python:Depends}, ${misc:Depends},
    szn-libcairo
Description: Python libcairo wrapper
 Pycairo is a Python module providing bindings
 for the `cairo graphics library.

Package: szn-python3-cairo
Architecture: amd64
Conflicts: python3-cairo, python3-cairo-dev
Replaces: python3-cairo, python3-cairo-dev
Depends: ${python3:Depends}, ${misc:Depends},
    szn-libcairo
Description: Python libcairo wrapper
 Pycairo is a Python module providing bindings
 for the `cairo graphics library.
